<template>
  <div class="display-goods">
    <display-group
      v-for="group of groups"
      :key="group.groupId"
      :items="group.items"
      :title="group.groupTitle"
      @click="onClick($event, group.groupTitle)"
    />
  </div>
</template>

<script>
import DisplayGroup from '@/components/displayComponents/DisplayGroup'

export default {
  name: 'DisplayGoods',
  components: {
    DisplayGroup,
  },
  props: {
    groups: {
      type: Array,
      required: true,
    },
  },
  methods: {
    onClick (item, groupTitle) {
      this.$emit('click', { ...item,  groupTitle })
    },
  },
}
</script>

<style scoped lang="stylus">
.display-goods
  width 100%
</style>