<template>
  <div
    class="display-item"
    @click="$emit('click')"
    :class="{ priceUp, priceDown }"
  >
    <div class="display-item__text">
      {{ title }}({{ stock }})
    </div>
    <div class="display-item__price">
      {{ price }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'DisplayItem',
  props: {
    title: {
      type: String,
      required: true,
    },
    stock: {
      type: Number,
      required: true,
    },
    price: {
      type: [String, Number],
      required: true,
    },
  },
  data () {
    return {
      priceDifference: 0,
    }
  },
  computed: {
    priceUp () {
      return this.priceDifference < 0
    },
    priceDown () {
      return this.priceDifference > 0
    },
  },
  watch: {
    price: {
      handler (n, p) {
        this.priceDifference = n - p
      },
    },
  },
}
</script>

<style scoped lang="stylus">
.display-item
  display flex
  justify-content space-between
  border-bottom 1px solid black
  border-right 1px solid black
  &:hover
    background-color antiquewhite
    cursor pointer
  &:nth-child(2n)
    border-right none
  &:last-child
    border-bottom none
  &__text
    padding 5px
    width 85%
  &__price
    width 15%
    background-color rgba(243, 243, 243, 0.8)
    display flex
    justify-content center
    align-items center
.priceUp
  background-color #ff98a0
.priceDown
  background-color #b6e6b1
</style>