<template>
  <div class="display-group">
    <div class="display-group__title">
      {{ title }}
    </div>
    <div class="display-group__items">
      <display-item
        v-for="(item, index) of items"
        :key="item.itemId"
        :title="item.itemTitle"
        :stock="item.stock"
        :price="item.price"
        :class="{ noBorderBottom: isSecondToLastAtTheBottom(index) }"
        @click="onClick(item)"
      />
    </div>
  </div>
</template>

<script>
import DisplayItem from '@/components/displayComponents/DisplayItem'

export default {
  name: 'DisplayGroup',
  components: {
    DisplayItem,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    items: {
      type: Array,
      required: true,
    },
  },
  methods: {
    onClick (item) {
      this.$emit('click', item)
    },
    isSecondToLastAtTheBottom (index) {
      return this.items.length % 2 === 0 &&
        index === (this.items.length - 2)
    },
  },
}
</script>

<style scoped lang="stylus">
.display-group
  border 1px solid black
  margin 5px
  &__title
    background-color #cfdee1
    padding 5px
    border-bottom 1px solid black
  &__items
    display grid
    grid-template-columns repeat(2, 1fr)
.noBorderBottom
  border-bottom none
</style>