<template>
  <tr class="cart-item">
    <td> {{item.groupTitle}}. {{ item.itemTitle }}</td>
    <td>
      <div class="cart-item__count">
        <input
          class="cart-item__count-input"
          type="number"
          :value="item.count"
          @input="onInput"
        >
        <span class="cart-item__faded-text">
          {{ $t('cartItem.labels.itemsShortening') }}
        </span>
      </div>

      <div
        v-if="isLowStock"
        class="cart-item__low-stock"
      >
        {{ $t('cartItem.labels.lowStock') }}
      </div>
    </td>
    <td>
      <span  class="cart-item__price">
        {{ $t('priceWithCurrency', { price: priceInRub }) }}
      </span>
      <span class="cart-item__faded-text">
        /{{ $t('cartItem.labels.itemsShortening') }}
      </span>
    </td>
    <td
      class="cart-item__delete"
      @click="onDeleteClick"
    >
      {{ $t('cartItem.labels.deleteItem') }}
    </td>
  </tr>
</template>

<script>
const LOW_STOCK_QUANTITY = 3

export default {
  name: 'CartItem',
  props: {
    item: {
      type: Object,
      default () {
        return {
          itemId: '',
          itemTitle: '',
          groupTitle: '',
          count: 1,
          stock: 0,
          dollarPrice: 0,
        }
      },
    },
  },
  computed: {
    isLowStock () {
      return this.item.stock <= LOW_STOCK_QUANTITY
    },
    exchangeRate () {
      return this.$store.getters.exchangeRate
    },
    priceInRub () {
      return (this.item.dollarPrice * this.exchangeRate).toFixed(2)
    },
  },
  methods: {
    onDeleteClick () {
      this.$emit('delete')
    },
    onInput (event) {
      let newValue = event.target.value

      if (newValue <= 0) {
        newValue = 1
      }

      if (newValue > this.item.stock) {
        newValue = this.item.stock
      }

      const modifiedObject = { ...this.item }
      modifiedObject.count = newValue
      this.$emit('change', modifiedObject)
    },
  },
}
</script>

<style scoped lang="stylus">
.cart-item
  border-bottom 1px solid rgba(0,0,0,0.1)
  &:last-child
    border-bottom none
  &:hover
    background-color rgba(255,94,42,0.1)
  & td
    padding 10px 0
    vertical-align top
  &__count
    &-input
      width 30px
      padding 3px
  &__delete
    cursor pointer
  &__low-stock
    margin-top 5px
    background-color #fff9f2
    border 1px solid rgba(255,94,42,0.6)
    color rgba(255,94,42,1)
    padding 10px
  &__faded-text
    color rgba(0,0,0,0.5)
  &__price
    font-size 16px
    font-weight 500
</style>