<template>
  <div class="cart-component">
    <table>
      <thead class="cart-component__header">
        <tr>
          <th>{{ $t('cart.labels.itemTitleAndDescription') }}</th>
          <th>{{ $t('cart.labels.quantity') }}</th>
          <th>{{ $t('cart.labels.price') }}</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="!items.length">
          <td class="cart-component__empty">{{ $t('cart.labels.cartIsEmpty') }}</td>
        </tr>
        <cart-item
          v-for="(item, index) of items"
          :key="item.itemId"
          :item="item"
          @change="changeItem($event, index)"
          @delete="onDelete(index)"
        />
      </tbody>
      <tfoot class="cart-component__footer">
        <tr>
          <td colspan="4">
            <div>
              <span>
                {{ $t('cart.labels.totalSum') }}
              </span>
              <span class="cart-component__total-sum">
                {{ $t('priceWithCurrency', { price: totalSum }) }}
              </span>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</template>

<script>
import CartItem from '@/components/cartComponents/CartItem'
import { usdToRub } from '@/utils'

export default {
  name: 'CartComponent',
  model: {
    prop: 'items',
    event: 'change',
  },
  components: {
    CartItem,
  },
  props: {
    items: {
      type: Array,
      default () {
        return []
      },
    },
  },
  computed: {
    exchangeRate () {
      return this.$store.getters.exchangeRate
    },
    totalSum () {
      return (this.items.reduce((acc, curr) => acc + (usdToRub(curr.dollarPrice, this.exchangeRate) * curr.count), 0)).toFixed(2)
    },
  },
  methods: {
    onDelete (index) {
      this.$emit('delete', index)
    },
    changeItem (item, index) {
      const modifiedItems = [...this.items]
      modifiedItems[index] = item
      this.$emit('change', modifiedItems)
    },
  },
}
</script>

<style scoped lang="stylus">
.cart-component
  display flex
  flex-direction column
  width 100%
  font-weight 300
  font-size 12px
  & table
    table-layout fixed
    width 100%
    border-collapse collapse
  & th
    text-align left
    font-weight 100
    font-size 12px
    color darkgrey
    &:nth-child(1)
      width 60%
    &:nth-child(2)
      width 15%
    &:nth-child(3)
      width 25%
    &:nth-child(4)
      width 10%
  &__header
    border-bottom 1px solid rgba(0,0,0,0.1)
    & th
      padding 5px 0
  &__footer
    text-align right
    & td
      padding-top 20px
  &__total-sum
    color rgba(255,94,42,1)
    font-size 18px
    font-weight 500
  &__empty
    padding 10px
    color rgba(0,0,0,0.5)
</style>