<template>
  <div class="main-component">
    <display-goods
      :groups="itemsList"
      @click="addToChosenItems"
    />
    <cart-component
      class="main-component__cart"
      v-model="chosenItems"
      @delete="removeFromChosenItems"
    />
  </div>
</template>

<script>
import DisplayGoods from '@/components/displayComponents/DisplayGoods'
import CartComponent from '@/components/cartComponents/CartComponent'

const UPDATE_INTERVAL = 15000

export default {
  name: 'MainComponent',
  components: {
    CartComponent,
    DisplayGoods,
  },
  data () {
    return {
      itemsList: [],
      chosenItems: [],
      intervalId: undefined,
    }
  },
  mounted () {
    this.getItems()
    this.intervalId = setInterval(this.getItems, UPDATE_INTERVAL)
  },
  beforeDestroy () {
    if (this.intervalId) {
      clearInterval(this.intervalId)
      this.intervalId = undefined
    }
  },
  methods: {
    getItems () {
      this.itemsList = this.$service.getItemsObject()
    },
    addToChosenItems (item) {
      const modifiedArray = [...this.chosenItems]
      const hasDuplicate = modifiedArray.findIndex(el => el.itemId === item.itemId) !== -1

      if (hasDuplicate) {
        return
      }

      modifiedArray.push({
        ...item,
        count: 1,
      })
      this.chosenItems = modifiedArray
    },
    removeFromChosenItems (index) {
      const modifiedArray = [...this.chosenItems]
      modifiedArray.splice(index, 1)
      this.chosenItems = modifiedArray
    },
  },
}
</script>

<style scoped lang="stylus">
.main-component
  width 900px
  margin 0 auto
  display flex
  justify-content center
  flex-direction column
  &__cart
    margin-top 30px
</style>